@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
.text_primary {
  color: #ff8142 !important;
}
.bg-primary{
    background-color: #242424;
}
.bg_primary{
  background-color: #ff8142;
}


.btn-primary {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 1.5rem;
  background: #ff8142;
  background-size: 400%;
  color: #fff;
  border: none;
}

.btn_primary {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding-top: 10px;
  /* padding: 0 1.5rem; */
  border-radius: 1.5rem;
  background: #f7f7f7;
  background-size: 400%;
  color: #ff8142;
  border: 1px solid #ff8142;
}

.btn-primary:hover::before {
  transform: scaleX(1);
}


.btn-default {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  height: 3rem;
  border-radius: 1.5rem;
  background: #fff;
  background-size: 400%;
  color: #ff8142;
  border: none;
}

.btn-default:hover::before {
  transform: scaleX(1);
}

.svg {
  fill: #ff8142;
}
.bg1{
  background-color: #f6f6f6;
}
.bg2{
  background-color: #f2f2f2;
}

.avatars {
  display: flex;
  justify-content: start;
  align-items: start;
  list-style-type: none;
  /* margin: auto; */
  padding: 0px;
  left: 0px;
  flex-direction: row;
}
.avatars__item {
  border: 2px solid #fff;
  border-radius: 100%;
  /* color: #ffffff; */
  display: block;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 100;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  transition: margin 0.1s ease-in-out;
  overflow: hidden;
  margin-left: -10px;
}
.avatars__item:first-child {
  z-index: 5;
}
.avatars__item:nth-child(2) {
  z-index: 4;
}
.avatars__item:nth-child(3) {
  z-index: 3;
}
.avatars__item:nth-child(4) {
  z-index: 2;
}
.avatars__item:nth-child(5) {
  z-index: 1;
}
.avatars__item:last-child {
  z-index: 0;
}
.avatars__item img {
  width: 100%;
}
.avatars:hover .avatars__item {
  margin-right: 10px;
}

@media (min-width: 1280px){
.get-app {
    max-height: 598px;
}
}

@media (min-width: 640px){
.get-app {
    flex-direction: row;
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
}


.get-app {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 8rem;
    overflow: hidden;
    background-color: rgb(41 44 39/1);
    background-image: url(/images/pattern.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    /* padding: 3rem 1.5rem; */
    color: rgb(255 255 255/1);

    /* max-width: 1440px; */
}

.download-card{
  background-color: #ff8142;
  z-index: 99;
}

.mobile_nav a{
  font-weight: 600;
}



.mobile_nav a {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 35px;
  margin-top: 2px;
  padding: 10px 20px;
  border-radius: 35px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  transition: color 0.2s ease;
}


.bg_card{
  height: 300px;  
  width: 300px;
}

.icons{
    margin-left: 185px;
    height: 115px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
/* .border{
  border: 1.5px solid #ff8142;
} */


html {
  --scrollbarBG: #fff;
  --thumbBG: #ff8142;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}